.upper-section{
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 35px;
}
.result-section{
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow: hidden;
}
 .upper-section .formula{
  font-size: 35px;
 }

 .upper-section .result{
  font-size: 25px;
  color: rgb(163, 163, 163);
 }
 
 .historic{
  position: relative;;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
  
 }

 .historic-btn{
  background-color: transparent;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);
  cursor:pointer;
  transition: all 0.2s ease-in-out;
 }
 .historic-btn:hover{
  opacity: 0.8;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.7);
 }
 .historic-btn img{
  width: 30px;
 }
 .clear{
  margin-bottom: -25px;
  height: 45px;
  width: 82px;
  font-size: 26px;
  background-color:rgb(83, 83, 83) ;
  color:white;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);
  outline: none;
  transition: all 0.2s ease-in-out;
 }

 .clear:hover{
  background-color: rgb(63, 63, 63);
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.7);
  cursor:pointer;
 }

 .clear:active{
  background-color: rgb(50, 50, 50);
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.9);
 }

 .result{
  height: 30px;
 }
 .formula{
  height: 40px;
 }
.history-list{
  position: absolute;
  left: -180px;
  width: 150px;
  height: 200px;
  background-color: black;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  padding: 10px;
  z-index: 10;
}

.historic .history-list{
  display: none;
}

.historic-active .history-list{
  display: initial;
}

.history-list p{
  font-size: 20px;
  margin: 0;
  padding-bottom: 10px;
}

.history-list ul li {
  display: flex;
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid rgb(98, 98, 98);
}

.history-list ul button{
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.2s ease-in-out;;
}

.history-list ul button:hover{
  background-color: rgb(220, 155, 155);
  padding: 2px 3px;
  border-radius: 5px;
}